.choose-technique-background{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-left: 4rem;
    padding-top: 3rem;
    color: white; 
}

.choose-technique-header{
    width: 85vw;
   
    display: flex;
    justify-content: space-between;
}

.text-warnings{
    width: 67vw;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.text-warnings h1{
    font-size: 28px;
    font-weight: bold;
}

.text-warnings p{
    font-size: 22px;
    font-weight: light;

}

.core-drive-help{
    display: flex;
    align-items: end;
    gap: 0.5rem;
}

.core-drive-warning{
    display: flex;
    align-items: end;
    gap: 0.5rem;
}

.technique-quantity{
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.technique-quantity-text{
    padding-left: 0.2rem;
    border-left-width: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: var(--moodle-orange);
}

#attention{
    font-weight: bold;
    color: var(--moodle-orange)
}

.choose-technique-box{
    width: 20vw;
    height: 7vh;
    background-color: var(--light-gray);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-left: 1rem;
}