.button-component{
    font-size: 22px;
    background-color: var(--light-gray);
    width: 25vw;
    height: 7vh;
    box-shadow: 7px 7px 7px -6px black;
    border-radius: 5px;
    transition: all 0.25s ease;
}
.button-component:hover{
    background-color: var(--moodle-orange);
}