.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 2;
}

.modal-container {
    color: white;
    font-size: 22px;
    background-color: var(--primary-dark-grey);
    width: 38.5vw;
    height: 45vh;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.modal-container span{
    text-align: center;
}

.modal-body{
    height: 35vh;
    width: 38.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
    color: black;
    

}

.modal-footer {
    flex: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}